@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.otp-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.otp-input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
.otp-input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
.otp-input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */
