@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.iti-flag {
  position: absolute;
  top: 37%;
}
.intl-tel-input .flag-container .arrow {
  top: 31%;
  position: absolute;
  margin-left: -17px;
  font-size: 10px;
}
