@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1a1a1a;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.selected-flag {
  display: flex !important;
}

.arrow {
  transform: scale(1.5) translate(36px, 0px);
}

.iti-flag {
  transform: scale(1.1) translate(3px, -1px);
}
.intl-tel-input .flag-container .arrow {
  top: 31%;
  position: absolute;
  font-size: 10px;
}

.intl-tel-input.allow-dropdown.separate-dial-code .selected-flag {
  background: #fff;
  width: 90%;
  margin: 0px 0px 3px 3px;
}

.intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code::before {
  content: '(';
  position: absolute;
  margin-left: -8px;
}
.intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code::after {
  content: ')';
  position: absolute;
  padding-left: 2px;
}
.intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
  color: #708090;
  margin-block: 2px;
}
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input,
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input[type='text'],
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-2 input[type='tel'] {
  padding-left: 100px !important;
}
.otp-input:focus::-webkit-input-placeholder {
  color: transparent;
}
.otp-input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
.otp-input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
.otp-input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */

.animated-icon {
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
